<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elasticsearch.Net" version="1.1.1" targetFramework="portable-net45+sl40" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="portable-net45+sl50+win+wpa81+wp80" requireReinstallation="True" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="portable-net45+sl40" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="portable-net45+sl50+win+wpa81+wp80" requireReinstallation="True" />
  <package id="NEST" version="1.1.1" targetFramework="portable-net45+sl40" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="portable-net45+sl50+win+wpa81+wp80" requireReinstallation="True" />
</packages>